body {
    font-family: Arial, sans-serif;
    background-color: #EFF6E0;
    margin: 0;
    display: flex;
}

/* Estilizando o menu lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #124559;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    margin: 5px 0;
}

.menu > li > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background: #598392;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.menu > li > a:hover {
    background-color: #AEC3B0;
}

/* Submenus (itens dentro das categorias) */
.submenu {
    display: none; /* Submenus ocultos por padrão */
    list-style: none;
    padding-left: 15px;
}

.submenu a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
    background-color: #376773;
    border-radius: 5px;
    margin-top: 5px;
}

.submenu a:hover {
    background-color: #AEC3B0;
}

/* Ajustando o conteúdo principal para não ficar embaixo do menu */
.content {
    margin-left: 270px; /* Espaço para o menu lateral */
    padding: 20px;
    width: 100%;
}
